
body{
background: linear-gradient(black, darkgray);
background-repeat:no-repeat;
height:100%;
padding-bottom:10px;
font-family: 'Bellefair', serif;
}


footer {

    /* negative value of footer height */
    height: 50px;
    clear: both;
    background-color: steelblue;
    text-align:center;
  }


a {
    font-family: 'Oswald', sans-serif;

}

h1{
    style:block;
    padding-top:-300px;
}

.container{
margin-left: 10%;
margin-right:10%;
background:radial-gradient(rgb(3, 48, 56), darkblue);

border: 5px double black;
}

main{
color:lightblue;
font-family: 'Bellefair', serif;
style:block;
height:100%;
padding-bottom: 222px;
margin-bottom:50px;
}

section{
float:left;

}

.left-column{
    width:50%;
    style:block;
    float:left;
    position:relative;
    border:5px double gold;
    padding:10px;
    
}
.right-column{
float:right;
margin-left:30px;
text-align:left;
width:40%;
position:relative;
style:block;
border:5px double gold;
padding:10px;
margin-bottom:50px;


}
.rainbow {
text-align:center;
    /* Chrome, Safari, Opera */
   -webkit-animation: rainbow 1s infinite; 
   
   /* Internet Explorer */
   -ms-animation: rainbow 1s infinite;
   
   /* Standar Syntax */
   animation: rainbow 1s infinite; 
 }
 
 /* Chrome, Safari, Opera */
 @-webkit-keyframes rainbow{
     20%{color: red;}
     40%{color: yellow;}
     60%{color: green;}
     80%{color: blue;}
     100%{color: orange;}	
 }
 /* Internet Explorer */
 @-ms-keyframes rainbow{
     20%{color: red;}
     40%{color: yellow;}
     60%{color: green;}
     80%{color: blue;}
     100%{color: orange;}	
 }
 
 /* Standar Syntax */
 @keyframes rainbow{
     20%{color: red;}
     40%{color: yellow;}
     60%{color: green;}
     80%{color: blue;}
     100%{color: orange;}	
 }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}